.section-container {
  font-family: 'Bebas Neue', cursive;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 300svh;
  position: relative;

  &_main-color {
    background-color: rgb(217, 109, 0);
  }
  &_secondary-color {
    background-color: rgb(255, 217, 167);
  }
  
}

.no-overflow{
  overflow:clip;
}